<div class="container">
  <div class="tooltip-container">
    <h1
      class="title"
      [tooltip]="'Title'"
      [tooltipBgColor]="'navy'"
      [tooltipTextColor]="'yellow'"
      [removeTooltipDelay]="5000"
    >
      Tooltip Demo
    </h1>
  </div>
  <div class="tooltip-container">
    <p
      class="text"
      [tooltip]="'A paragraph'"
      [tooltipBgColor]="'coral'"
      [showTooltipDelay]="1500"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aperiam
      commodi porro veniam laboriosam cum aliquid saepe inventore, cupiditate
      adipisci aliquam architecto doloribus quis exercitationem dignissimos odit
      placeat nihil recusandae autem eos officia molestias soluta. Maxime facere
      distinctio enim quibusdam.
    </p>
  </div>
  <div class="tooltip-container">
    <button
      class="cta-btn"
      [tooltip]="'A fancy button'"
      [tooltipBgColor]="'lightseagreen'"
    >
      Read More
    </button>
  </div>
  <div class="tooltip-container">
    <a
      href="#"
      class="link"
      [tooltip]="'A plain link'"
      [tooltipBgColor]="'cornflowerblue'"
      >Follow URL</a
    >
  </div>
  <input
    type="text"
    class="text-input"
    placeholder="Placeholder..."
    [tooltip]="'A simple input'"
    [tooltipBgColor]="'violet'"
  />
</div>
